.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Chọn ảnh';
  color: black;
  display: inline-block;
  background: var(--color-yellow);
  border-radius: 3px;
  padding: 5px 18px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
  font-size: 10pt;
}

