.cus-button{
  border-radius: unset;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
}

.add-new {
  background-color: #47fc4d;
  color: #fff;
}

.add-new:hover {
  color: #fff !important;
} 