.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .name-logo {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
  }
}

.btn-collapsed {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avt {
  border-radius: 5px;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.ant-layout-header h5 {
  line-height: 20px;
  margin-bottom: 0;
  font-size: 14px;
}

.ant-layout-header div {
  line-height: 20px;
  font-size: 13px;
}

.toolbar-user {
  padding: 0 5px;
  margin-right: 10px;
}

.toolbar-user:hover, .noti:hover {
  background-color: var(--color-ebedf0);
}

.noti {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-layout-header div .badge {
  right: 16px;
  top: 10px;
}

.text-search {
  max-height: 35px !important;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 0 auto;

}
.search-bar input[type="text"] {
  height: 35px;
  flex-grow: 1;
  border: solid 1px #dbdbdb;
  padding: 0 15px;
  font-weight: 400;
}

.search-bar input:focus-visible {
  outline: none;
}

.search-bar button {
  background-color: var(--color-yellow);
  color: black;
  font-weight: 500;
  border: none;
  cursor: pointer;
  height: 35px;
  width: 60px;
}

