.cus-form {
  h1 {
    font-size: 16px;
  }
  .input-text {
    width: 70%;
  }
}

.show-img {
  width: 150px;
}

.btn-del {
  width: 20px;
  height: 20px;
  right: 8px;
  top: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  border: none;
  color: red;
  display: flex;
  align-items: center;
}

.title {
  display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 60px;
    }

    span {
      margin-left: 15px;
      font-weight: 500;
    }
}