.label {
  min-width: 150px;
  font-size: 15px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.content {
  font-size: 15px;
}

.btn-edit {
  min-width: 100px;
  background-color: #e81d1d;
  color: white;
}

.btn-cancel {
  min-width: 100px;
  background-color: #d3d3d3;
}

.btn-edit:where(.css-dev-only-do-not-override-14wwjjs).ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
  color: white;
  border-color: unset;
}

.btn-edit:where(.css-dev-only-do-not-override-14wwjjs).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: white;
  border-color: unset;
}

.btn-cancel:where(.css-dev-only-do-not-override-14wwjjs).ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
  color: unset;
  border-color: unset;
}

.btn-cancel:where(.css-dev-only-do-not-override-14wwjjs).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: unset;
  border-color: unset;
}