body {
  font-family: Roboto, sans-serif;
}

:root {
	--color-ebedf0: #ebedf0;
  --color-yellow: #ffd333;
  --color-bgc-login: #f5f7fa;
  --color-text: #828f99;
}

.ant-layout {
  min-height: 100vh;
}

a {
  text-decoration: none;
} 

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px !important;
}

.gap-30 {
  gap: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.login-page {
  background-color: var(--color-bgc-login);
  min-height: 100vh;
}

.title-page {
  font-size: 1.5rem;
  margin: 0;
}

.cus-container {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

// .ant-btn-default:not(:disabled):hover {
//   color: unset !important;
//   border-color: unset !important;
// }

.box-shadow {
  box-shadow: 0 .5rem 1rem rgba(black, .15);
}

.ant-form-item {
  margin-bottom: unset !important;
}

#preloader {
  background: #fbfbfb url(../public/loading.gif) no-repeat center center;
  background-size: 10%;
  height: 100vh; 
  width: 100%;
  z-index: 100;
}

.btn-add {
  margin: 20px;
  color: white !important;
  background-color: #00ce22;
}

.ant-upload-list-picture {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ant-upload-list-item-container {
  width: 30%;
}

.img-in-table {
  max-width: 100px;
}

.ck-editor__editable {
  min-height: 100px;
  max-height: 500px;
}

// :where(.css-dev-only-do-not-override-14wwjjs).ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
//   color: unset;
//   border-color: unset;
// }

// :where(.css-dev-only-do-not-override-14wwjjs).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
//   color: unset;
//   border-color: unset;
// }