.statistics-card {
  .title-card {
    font-size: 16px;
    color: var(--color-text);
  }

  .btn-more {
    color: var(--color-text);
    padding: 5px 5px;
    border-radius: 4px;
  }

  .btn-more:hover {
    background-color: var(--color-ebedf0);
  }

  .ant-card-body {
    padding: 1.25rem !important;
  }

  .card-value {
    font-size: 32px;
  }
}